.centeredText {
  text-align:center;
}

body {
    margin: 0px;
}

main {
    margin-left: 20px;
}

h1 {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    overflow:hidden;
    background-color: black;
margin-top: 80px;
}

.navbar li{

float: left; 
/* float list items to the left */

}

.navbar a {
   display:block;
   color: white;
   text-align:center;
   padding: 19px 20px;
   text-decoration:none;
}

.navbar a:hover {
    background-color:#2d1c3e;
}

.intro{

  margin-top: 80px;
   font-size: 2rem;
 justify-content: flex-end;
}

.Flex-container {
    width: 60%;
    padding: 40px; 
    border: 2px solid black;
    margin: 0px; 
        background-color:#51326f;
    }

    * {
  box-sizing: border-box;
}

/* Set a background color */
body {
  background-color: #745494;
  font-family: Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

