.centeredText {
  text-align:center;
}

body {
    margin: 0px;
}

main {
    margin-left: 20px;
}

h1 {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    overflow:hidden;
    background-color: black;
margin-top: 80px;
}

.navbar li{

float: left; 
/* float list items to the left */

}
.navbar a {
   display:block;
   color: white;
   text-align:center;
   padding: 19px 20px;
   text-decoration:none;
}

.navbar a:hover {
    background-color: rgb(4, 9, 88);
}

.intro{
  margin-top: 80px;
}
