.centeredText {
  text-align:center;
}

body {
    margin: 0px;
}

main {
    margin-left: 20px;
}

h1 {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin-left: 100px;
    margin-right:100px;
    overflow:hidden;
    background-image:linear-gradient(90deg, #7b70869a, #634a7e00);
    border-radius:20px;
margin-top: 80px;
margin-bottom:80px;
}
a :hover {
    background-color: #2d1c3e;
}



.navbar li{

float:inline-start;
/* float list items to the left */

}

.navbar a {
   display:block;
   color: white;
   text-align:center;
   padding: 19px 20px;
   text-decoration:none;
}

.navbar a:hover {
    background-color:#2d1c3e;
}

.intro{

  margin-top: 80px;
   font-size: 2rem;
 justify-content: flex-end;
}

.Flex-container {
    width: 60%;
    padding: 40px; 
    border: 2px solid black;
    margin: 0px; 
        background-color:#51326f;
    }

    * {
  box-sizing: border-box;
}

/* Set a background color */
body {
  font-family: Helvetica, sans-serif;
  background-image: linear-gradient(#524163, #2d1c3e);
}

* {
  box-sizing: border-box;
}

.brightText {
  color: white;
  font-family:Quicksand, sans-serif;
  font-size:1.1em;
  text-shadow: 0px 0px 30px #cea1fa;
}